<img src=../../Img/sci.png>

### Финансовый университет

##  Инструментальная поддержка анализа финансово-экономических данных

# Тема 5. Работа с базами данных в Пайтон. Библиотека SQLAlchemy Core

Семинар<br>
10 апреля 2021 года<br>
24 апреля 2021 года <br>
Поток: ПМ18-1, ПМ18-2, ПМ18-3, ПМ18-4

Преподаватель: Смирнов Михаил Викторович, доцент Департамента анализа данных и машинного обучения Финансового университета при Правительстве Российской Федерации. mvsmirnov@fa.ru

Москва - 2021

При подготовке материалов учебных занятий использовались источники
- Essential SQLAlchemy: Mapping Python to Databases 2nd Edition. Jason Myers, Rick Copeland. O'Reilly Media, Inc. 2015.
- <a href="http://insideairbnb.com/get-the-data.html">Inside Airbnb</a>

# Проект Антверпен

<img src="./Img/Antwerp_1.png">

## Задание
Используя исходные данные системы <a href="http://insideairbnb.com/get-the-data.html">*Airbnb*</a> в формате *csv* об объектах размещения туристов в Антверпене, создать структуру реляционной базы данных согласно схеме. Создать первичные и внешние ключи, а также другие необходимые ограничения. Наполнить базу данных сведениями об объектах размещения в Антверпене.

<img src=./Img/Schema.png>

# 1. Изучение источника данных

In [1]:
import pandas as pd

In [2]:
df=pd.read_csv("Data/listings_antwerp.csv")
df

,id,name,host_id,host_name,neighbourhood_group,neighbourhood,latitude,longitude,room_type,price,minimum_nights,number_of_reviews,last_review,reviews_per_month,calculated_host_listings_count,availability_365
0,50904,aplace/antwerp: cosy suite - fashion district,234077,Karin,NaN,Historisch Centrum,51.21825,4.39901,Hotel room,145,1,1,2015-05-06,0.01,4,226
1,67776,Beautiful Big House Center Antwerp,334804,Ann,NaN,Sint-Andries,51.21467,4.39225,Entire home/apt,50,7,9,2016-10-24,0.08,2,210
2,116134,Trendy Vacation Apartment Antwerp,586942,Paul,NaN,Eilandje,51.23051,4.40593,Entire home/apt,150,2,102,2020-11-16,0.93,1,351
3,224333,Large stylish room in 1930s house + garden,1167377,Geert,NaN,Deurne Zuid West,51.19772,4.45853,Private room,16,14,2,2020-07-04,0.02,2,310
4,224682,APARTMENT ROSCAM - OLD CENTRE ANTWERP,1263933,Kristien,NaN,Sint-Andries,51.21722,4.39790,Entire home/apt,70,2,344,2021-01-28,3.13,1,299
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1711,48217347,Antwerp top location! Beautiful 1 BDR apartment,129071533,Funny,NaN,Eilandje,51.22729,4.40859,Entire home/apt,80,7,0,NaN,NaN,1,90
1712,48224026,New LUXE DESIGN apt in centre Het zuid with HO...,389076822,Jean-Paul From BnbSupport,NaN,Zuid,51.21135,4.39703,Entire home/apt,399,2,0,NaN,NaN,1,364
1713,48227279,"Recently renovated, light apartment at great spot",70627813,Enid,NaN,Nieuw - Kwartier Oost,51.18437,4.43935,Entire home/apt,45,30,0,NaN,NaN,1,245
1714,48261827,Design appartement op toplocatie,266540939,Katia,NaN,Theaterbuurt-Meir,51.21321,4.40922,Entire home/apt,145,7,0,NaN,NaN,1,87
1715,48278438,Gerenoveerd appartement op trendy zuid,70922398,Zoe,NaN,Zuid,51.21033,4.39729,Entire home/apt,80,1,0,NaN,NaN,1,19

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1716 entries, 0 to 1715
Data columns (total 16 columns):
 #   Column                          Non-Null Count  Dtype
---  ------                          --------------  -----
 0   id                              1716 non-null   int64
 1   name                            1716 non-null   object
 2   host_id                         1716 non-null   int64
 3   host_name                       1716 non-null   object
 4   neighbourhood_group             0 non-null      float64
 5   neighbourhood                   1716 non-null   object
 6   latitude                        1716 non-null   float64
 7   longitude                       1716 non-null   float64
 8   room_type                       1716 non-null   object
 9   price                           1716 non-null   int64
 10  minimum_nights                  1716 non-null   int64
 11  number_of_reviews               1716 non-null   int64
 12  last_review                     1405 non-null   object
 13  reviews_per_month               1405 non-null   float64
 14  calculated_host_listings_count  1716 non-null   int64
 15  availability_365                1716 non-null   int64
dtypes: float64(4), int64(7), object(5)
memory usage: 214.6+ KB

Удалим столбец *neighbourhood_group*, так как он не содержит данных

In [4]:
df.drop("neighbourhood_group", axis=1, inplace=True)

В поле *last_review* более 300 записей содержат пустые значения. Заменим все такие значения на дату 1 января 1990 года

In [5]:
df["last_review"].fillna("1990-01-01", inplace=True)

Также имеются пустые значения в поле *number_of_reviews*. Такие заменим на нуль.

In [6]:
df["reviews_per_month"].fillna(0, inplace=True)

# 2. Создание базы данных *Antwerp.db*

In [7]:
# ! pip install sqlalchemy

In [8]:
import sqlalchemy

from sqlalchemy import (create_engine, MetaData, Table, Column,
                        Integer, Numeric, String, DateTime, Date, Boolean,
                        ForeignKey, PrimaryKeyConstraint, UniqueConstraint, 
                        CheckConstraint, ForeignKeyConstraint,
                        insert, select, func)

from datetime import date, datetime as dt
from pprint import pprint

engine = create_engine('sqlite:///Antwerp.db')
metadata = MetaData()

In [9]:
listings = Table('listings', metadata,
            Column('listing_id',Integer(),primary_key=True),
            Column('listing_name',String(100),index=True),
            Column('host_id',Integer()),
            Column('neighbourhood_id',Integer()),
            Column('latitude',Numeric(10,2)),
            Column('longitude',Numeric(10,2)),
            Column('room_type_id',Integer()),
            Column('price',Integer()),
            Column('minimum_nights',Integer()),
            Column('number_of_reviews', Integer()),
            Column('last_review', DateTime()),
            Column('reviews_per_month', Numeric(10,2)),
            Column('availability_365', Integer()),
            ForeignKeyConstraint(['host_id'], ['hosts.host_id']),
            ForeignKeyConstraint(['neighbourhood_id'], ['neighbourhoods.neigh_id']),
            ForeignKeyConstraint(['room_type_id'], ['room_types.room_type_id']),
            extend_existing=True
            )

In [10]:
users = Table('users',metadata,
            Column('user_id',Integer(),primary_key=True),
            Column('user_name',String(15),nullable=False,unique=True),
            Column('email_address',String(255),nullable=False),
            Column('phone',String(20),nullable=False),
            Column('password',String(25),nullable=False),
            Column('created_on',Date(),default=date.today()),
            Column('updated_on',Date(),default=date.today(),onupdate=date.today()),
            extend_existing=True
           )

In [11]:
orders = Table('orders', metadata,
            Column('order_id', Integer(),primary_key=True),
            Column('user_id', ForeignKey('users.user_id')),
            extend_existing=True
            )

In [12]:
line_items = Table('line_items', metadata,
                   Column('line_item_id', Integer(), primary_key=True),
                   Column('order_id', Integer()),
                   Column('listing_id', ForeignKey('listings.listing_id')),
                   Column('item_start_date', Date()),
                   Column('item_end_date', Date()),
                   Column('item_price', Integer()),
                   extend_existing=True
                  )

line_items.append_constraint(
    ForeignKeyConstraint(['order_id'], ['orders.order_id'])
)

In [13]:
neighbourhoods = Table('neighbourhoods',metadata,
                    Column('neigh_id',Integer(),primary_key=True),
                    Column('neigh_name',String(30)),
                    extend_existing=True
                   )

In [14]:
hosts = Table('hosts',metadata,
           Column('host_id',Integer(),primary_key=True),
           Column('host_name',String(30))
          )

In [15]:
room_types = Table('room_types',metadata,
                Column('room_type_id',Integer(),primary_key=True),
                Column('room_type_name',String(30))
               )

In [16]:
metadata.create_all(engine)

Проверим, какие таблицы созданы

In [17]:
metadata.tables.keys()

dict_keys(['listings', 'users', 'orders', 'line_items', 'neighbourhoods', 'hosts', 'room_types'])

In [18]:
pprint(metadata.tables)

{'hosts': Table('hosts', MetaData(bind=None), Column('host_id', Integer(), table=<hosts>, primary_key=True, nullable=False), Column('host_name', String(length=30), table=<hosts>), schema=None),
 'line_items': Table('line_items', MetaData(bind=None), Column('line_item_id', Integer(), table=<line_items>, primary_key=True, nullable=False), Column('order_id', Integer(), ForeignKey('orders.order_id'), table=<line_items>), Column('listing_id', Integer(), ForeignKey('listings.listing_id'), table=<line_items>), Column('item_start_date', Date(), table=<line_items>), Column('item_end_date', Date(), table=<line_items>), Column('item_price', Integer(), table=<line_items>), schema=None),
 'listings': Table('listings', MetaData(bind=None), Column('listing_id', Integer(), table=<listings>, primary_key=True, nullable=False), Column('listing_name', String(length=100), table=<listings>), Column('host_id', Integer(), ForeignKey('hosts.host_id'), table=<listings>), Column('neighbourhood_id', Integer(), ForeignKey('neighbourhoods.neigh_id'), table=<listings>), Column('latitude', Numeric(precision=10, scale=2), table=<listings>), Column('longitude', Numeric(precision=10, scale=2), table=<listings>), Column('room_type_id', Integer(), ForeignKey('room_types.room_type_id'), table=<listings>), Column('price', Integer(), table=<listings>), Column('minimum_nights', Integer(), table=<listings>), Column('number_of_reviews', Integer(), table=<listings>), Column('last_review', DateTime(), table=<listings>), Column('reviews_per_month', Numeric(precision=10, scale=2), table=<listings>), Column('availability_365', Integer(), table=<listings>), schema=None),
 'neighbourhoods': Table('neighbourhoods', MetaData(bind=None), Column('neigh_id', Integer(), table=<neighbourhoods>, primary_key=True, nullable=False), Column('neigh_name', String(length=30), table=<neighbourhoods>), schema=None),
 'orders': Table('orders', MetaData(bind=None), Column('order_id', Integer(), table=<orders>, primary_key=True, nullable=False), Column('user_id', Integer(), ForeignKey('users.user_id'), table=<orders>), schema=None),
 'room_types': Table('room_types', MetaData(bind=None), Column('room_type_id', Integer(), table=<room_types>, primary_key=True, nullable=False), Column('room_type_name', String(length=30), table=<room_types>), schema=None),
 'users': Table('users', MetaData(bind=None), Column('user_id', Integer(), table=<users>, primary_key=True, nullable=False), Column('user_name', String(length=15), table=<users>, nullable=False), Column('email_address', String(length=255), table=<users>, nullable=False), Column('phone', String(length=20), table=<users>, nullable=False), Column('password', String(length=25), table=<users>, nullable=False), Column('created_on', Date(), table=<users>, default=ColumnDefault(datetime.date(2021, 4, 24))), Column('updated_on', Date(), table=<users>, onupdate=ColumnDefault(datetime.date(2021, 4, 24)), default=ColumnDefault(datetime.date(2021, 4, 24))), schema=None)}

# 3. Наполнение справочников

Соединение

In [19]:
connection = engine.connect()

## 3.1. Справочник районов

In [20]:
df.head(1)

,id,name,host_id,host_name,neighbourhood,latitude,longitude,room_type,price,minimum_nights,number_of_reviews,last_review,reviews_per_month,calculated_host_listings_count,availability_365
0,50904,aplace/antwerp: cosy suite - fashion district,234077,Karin,Historisch Centrum,51.21825,4.39901,Hotel room,145,1,1,2015-05-06,0.01,4,226

In [48]:
neigh_names = df["neighbourhood"].sort_values().unique()
neigh_list = []
for i, x in enumerate(neigh_names):
    neigh_dict = {'neigh_id':i+1, 'neigh_name':x}
    neigh_list.append(neigh_dict)
pprint(neigh_list[:2])
print("Всего районов:", len(neigh_list))

[{'neigh_id': 1, 'neigh_name': 'Amandus - Atheneum'},
 {'neigh_id': 2, 'neigh_name': 'Borgerhout Extra Muros'}]
Всего районов: 53

In [22]:
ins = neighbourhoods.insert()
connection.execute(ins, neigh_list)

Проверка - запрос к таблице.

In [23]:
sel=select([neighbourhoods])
connection.execute(sel).fetchone()

(1, 'Amandus - Atheneum')

## 3.2. Справочник типов комнат

In [24]:
room_type_names=df["room_type"].sort_values().unique()
rooms_list=[]
for i, name in enumerate(room_type_names):
    tmp_dict={"room_type_id":i+1, "room_type_name":name}
    rooms_list.append(tmp_dict)
print(rooms_list[:1])
print("Всего типов комнат:", len(rooms_list))

[{'room_type_id': 1, 'room_type_name': 'Entire home/apt'}]
Всего типов комнат: 4

In [25]:
ins=room_types.insert()
connection.execute(ins, rooms_list)

Проверка - запрос к таблице *room_types*

In [26]:
sel=select([room_types])
connection.execute(sel).fetchone()

(1, 'Entire home/apt')

## 3.3. Справочник владельцев

### Задание 3.3.1.
Создайте справочник владельцев недвижимости, сохранив их идентификаторы из набора данных *Антверпен*.

In [ ]:
# Ваш код здесь

# 4. Наполнение таблиц

## 4.1.  Таблица *listings*

В процессе наполнения таблицы *listings* мы будем подставлять вместо названий районов, названий типов комнат и имен владельцев их идентификаторы. Для этого испоьзуем ранее созданные справочники районов, типов комнат и владельцев, откуда будем подставлять в таблицу соовтетствующие значения идентификаторов.

**Пример.** Пусть у нас имеется справочник типов комнат - таблица *room_types*. Посмотрим, какие она содержит записи.

In [50]:
sel = select([room_types])
result = connection.execute(sel).fetchall()
pprint(result)

[(1, 'Entire home/apt'),
 (2, 'Hotel room'),
 (3, 'Private room'),
 (4, 'Shared room')]

Теперь посмотрим, какой тип комнаты у первой записи таблицы набора данных "Антверпен".

In [63]:
df.loc[0, 'room_type']

'Hotel room'

Это `'Hotel room'`. Чтобы получить идентификатор этого типа комнаты выполним запрос:

In [67]:
sel = select([room_types.c.room_type_id])
sel = sel.where(room_types.c.room_type_name == df.loc[0, 'room_type'])
result = connection.execute(sel).fetchone()
print(result)

(2,)

Чтобы узнать, как выглядит запрос, отправляемый в базу данных, можно выполнить команду

In [68]:
print(str(sel))
print(sel.compile().params)

SELECT room_types.room_type_id
FROM room_types
WHERE room_types.room_type_name = :room_type_name_1
{'room_type_name_1': 'Hotel room'}

### Задание 4.1.1. 
Наполните данными таблицу *listings*

In [69]:
lst = []
for row_id in df.index[:]:
    
    # Определите значение идентификатора района. 
    # Присвойте ему имя current_neigh_id
    # Ваш код здесь

    
    # Определите значение идентификатора типа комнаты. 
    # Присвойте ему имя current_room_type_id
    # Ваш код здесь
    
    
    # Значение идентификатора владельца можно взять напрямую из записи набора данных
    current_host_id = df.loc[row_id, 'host_id']
    
    
    tmp_dict={
        'listing_id': int(df.loc[row_id, 'id']),
        'listing_name': df.loc[row_id, 'name'],
        'host_id': int(current_host_id),
        'neighbourhood_id': int(current_neigh_id),
        'latitude': float(df.loc[row_id, 'latitude']),
        'longitude': float(df.loc[row_id, 'longitude']),
        'room_type_id': int(current_room_type_id),
        'price': int(df.loc[row_id, 'price']),
        'minimum_nights': int(df.loc[row_id, 'minimum_nights']),
        'number_of_reviews': int(df.loc[row_id, 'number_of_reviews']),
        'last_review': dt.strptime(df.loc[row_id, 'last_review'],'%Y-%m-%d'),
        'reviews_per_month': df.loc[row_id, 'reviews_per_month'],
        'availability_365': df.loc[row_id, 'availability_365']
    }    
    lst.append(tmp_dict)

In [71]:
ins = listings.insert()

In [72]:
result=connection.execute(ins, lst)

Проверка с помощью запроса

In [74]:
sel = select([listings])
rp = connection.execute(sel).fetchone()
pprint(rp)

(50904, 'aplace/antwerp: cosy suite - fashion district', 234077, 19, Decimal('51.22'), Decimal('4.40'), 2, 145, 1, 1, datetime.datetime(2015, 5, 6, 0, 0), Decimal('0.01'), b'\xe2\x00\x00\x00\x00\x00\x00\x00')

## 4.2 Таблицы *users, orders, line_items*

### Задание 4.2.1.
Наполните данными таблицы *users, orders, line_items*